In [56]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import csv
import time
import datetime

In [58]:
url = "https://www.binance.com/en"
req = requests.get(url).content
soup = bs(req,'html.parser')

In [59]:
name = soup.find_all('div',class_='whitespace-nowrap text-body2 text-t-third')
names = []
for i in name:
    names.append(i.text.strip())
   
names

['Bitcoin',
 'Ethereum',
 'BNB',
 'Ripple',
 'Solana',
 'Eurite',
 'Dogs',
 'Toncoin',
 'Banana Gun',
 'LayerZero']

In [62]:
price = soup.find_all('div',class_='lock-ltr text-subtitle1 font-medium')
prices = []
for i in price:
    res= i.text.strip()
    prices.append(res[1:])

prices

['57,366.01',
 '2,344.81',
 '529.90',
 '0.5352',
 '132.41',
 '1.10',
 '0.0010383',
 '5.30',
 '39.86',
 '3.69']

In [79]:
today = datetime.datetime.now()
curr = today.strftime('%c')
header = [names]
data =  [prices] 
df = pd.DataFrame(data , columns=header)
df['Datetime'] = curr
df.to_csv('RealTimeBitcoinData.csv', index=False)

# with open('RealTimeBitcoinData.csv','w',newline='' , encoding='utf8') as f:
#     write = csv.writer(f)
#     write.writerow(header)
#     write.writerow(data)

In [85]:
def update():
    url = "https://www.binance.com/en"
    req = requests.get(url).content
    soup = bs(req,'html.parser')
    name = soup.find_all('div',class_='whitespace-nowrap text-body2 text-t-third')
    names = []
    for i in name:
        names.append(i.text.strip())

    price = soup.find_all('div',class_='lock-ltr text-subtitle1 font-medium')
    prices = []
    for i in price:
        res= i.text.strip()
        prices.append(res[1:])
        
    today = datetime.datetime.now()
    curr = today.strftime('%c')
    
    data = [prices]
    df = pd.DataFrame(data)
    df['Datetime'] = curr
    df.to_csv('RealTimeBitcoinData.csv', mode='a', index=False, header=False)

    # with open('RealTimeBitcoinData.csv', 'a+', newline='', encoding='utf8') as a:
    #     write = csv.writer(a)
    #     write.writerow(df)

In [87]:
while True:
    update()
    time.sleep(5)

KeyboardInterrupt:

In [89]:
df = pd.read_csv('RealTimeBitcoinData.csv')
df

,Bitcoin,Ethereum,BNB,Ripple,Solana,Eurite,Dogs,Toncoin,Banana Gun,LayerZero,Datetime
0,"57,366.01","2,344.81",529.9,0.5352,132.41,1.1,0.001038,5.30,39.86,3.69,Thu Sep 12 02:31:28 2024
1,"57,306.00","2,341.55",529.5,0.5352,132.10,1.1,0.001035,5.29,39.73,3.69,Thu Sep 12 02:31:47 2024
2,"57,310.55","2,341.76",529.6,0.5353,132.18,1.1,0.001036,5.29,39.71,3.69,Thu Sep 12 02:31:53 2024
3,"57,306.00","2,341.55",529.5,0.5352,132.10,1.1,0.001035,5.29,39.73,3.69,Thu Sep 12 02:31:59 2024
4,"57,306.00","2,341.55",529.5,0.5352,132.10,1.1,0.001035,5.29,39.73,3.69,Thu Sep 12 02:32:05 2024
...,...,...,...,...,...,...,...,...,...,...,...
71,"57,314.50","2,341.51",529.7,0.5351,132.19,1.1,0.001038,5.30,39.85,3.68,Thu Sep 12 02:38:28 2024
72,"57,315.18","2,341.29",529.7,0.5355,132.31,1.1,0.001038,5.30,39.89,3.68,Thu Sep 12 02:38:34 2024
73,"57,305.29","2,340.83",529.6,0.5356,132.30,1.1,0.001038,5.30,39.89,3.68,Thu Sep 12 02:38:40 2024
74,"57,314.50","2,341.51",529.7,0.5351,132.19,1.1,0.001038,5.30,39.85,3.68,Thu Sep 12 02:38:45 2024
75,"57,314.50","2,341.51",529.7,0.5351,132.19,1.1,0.001038,5.30,39.85,3.68,Thu Sep 12 02:38:51 2024